{
	margin: 0;
	padding: 0;
}
body{
	background: black;
	color: white;
}
header{
	display: flex;
	justify-content: center;
}
.Top_menu{
	margin-right: 25px;
	display: inline-block;
	vertical-align: middle;
	background: #1a1a1a;
	border-radius: 20px;
}
.Logo{
	margin-right: 25px;
	display: inline-block;
	vertical-align: middle;
}
.Top_menu li{
	margin-right: 25px;
	display: inline-block;
	vertical-align: middle;

}
.Top_menu a{
	vertical-align: middle;
	font-family: arial;
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.Top_menu a:hover{
	color: #DA70D6;
}
.Logo h1{
	vertical-align: middle;
}
.login{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: #1a1a1a;
	border-radius: 20px;
}
.login h1{
	color: white;
	text-transform: uppercase;
	font-family: arial;
	font-weight: 500;
}
.login input[type = "text"], .login input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid white;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.login input[type = "text"]:focus, .login input[type = "password"]:focus{
	width: 280px;
	border-color: #DA70D6;
}
.login input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #DA70D6;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.login input[type = "submit"]:hover{
	background: #DA70D6;
}
.login li{
	margin-right: 25px;
	display: inline-block;
	vertical-align: center;
	position: absolute;
	top: 90%;
	left: 40%;
}
.login a{
	vertical-align: center;
	font-family: arial;
	font-size: 15px;
	color: white;
	text-decoration: none;
	position: absolute;
	top: 90%;
	left: 40%;
}
.login a:hover{
	color: #DA70D6;
}